
*.exe
*.ilk
*.dll
*.exp
*.lib
*.pdb
*.tlog
*.manifest
*.lastbuildstate
*.obj
*.log
*.user
*.ipch
*.cache
*.sdf
*.suo
*.txt
*.debug
*.error
*.warn
*.opensdf
*.moc
*.aps
*.rc
moc*.cpp
ui_*.h
qrc_*.cpp
*.idb
SKBase/Debug/SKBased_manifest.rc
*.res
*.unsuccessfulbuild
conf/USER1
conf/USER2
*.fault
picture
Debug
Release
